body{
    background-color: rgb(237, 238, 239);
}
html, body {
    height:100%;
}
.my-navitem{
  font-size:1.0em;
}
#nav-scroll .component{
  height: 100%;
}
#mynavbar{
  height:8%;
  position: fixed;
  width: 100%;
  background-color: #b5bfcc;
}
#my_brand{
  font-size:3em;
}
.my-navitem{
  color: black;
  font-size: 1.5em;
}
.nav-item a{
  margin-top: 15px;
}
#intro{
  background-image: url('data/introback.jpg');
}
.introcontainer h1{
  color: white;
  font-weight: bolder;
  font-size: 4.5em;
  padding-top: 200px;
}
#worldMapDiv{
  background-color: #d7e1f2;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}

#tooltip {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 12px;
  width: auto;
  padding: 4px;
  color: white;
  opacity: 0;
}
